@model Hackathon_TEK.ModelsView.RegionInfo

<div class="card-body">

    <h4 class="text-center">@Html.DisplayFor(model => model.Name)</h4>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Температура</td>
                <td>@Html.DisplayFor(model => model.Temperature)</td>
            </tr>
            <tr>
                <td>Скорость ветра</td>
                <td>@Html.DisplayFor(model => model.WindSpeed)</td>
            </tr>
            <tr>
                <td>Облачность</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td>Влажность</td>
                <td>@Html.DisplayFor(model => model.Humidity)</td>
            </tr>
            <tr>
                <td>Вероятность пожаров</td>
                <td>@Html.DisplayFor(model => model.Fires)</td>
            </tr>
            <tr>
                <td>Вероятность землетресений</td>
                <td>@Html.DisplayFor(model => model.Earthquake)</td>
            </tr>
            <tr>
                <td>Повреждение</td>
                <td>@Html.DisplayFor(model => model.Damage)</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Вероятность возникновения ЧС: @Html.DisplayFor(model => model.ProbabilityEmergency)</h4>

    <div class="text-center">
        <button type="submit" onClick="GetFeedback(this)" href="#" data-toggle="modal" data-target="#ModalPartial" 
                class="btn btn-outline-primary">Обратная связь</button>
    </div>

</div>

<script>
    // Обновление страницы
    var refreshRoute = {
        LoadAction: LoadList,
        data: undefined
    }

    function GetFeedback(obj) {
        $.ajax({
            url: '@Url.Action("GetFeedback", "Home")',
            type: "GET",
            data: { },
            success: function (result) {
                ModalBody(result, refreshRoute);
            },
            error: function (error) {
                console.log("ajax Create error", error);
            },
            complete: function () {
            }
        });
    };
</script>